.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Bedroom {
  background: #2b7188;
}

.Bath {
  background: #728831;
}
.LivingRoom {
  background: #c9ac82;
}
.Kitchen {
  background: #f1a73b;
}


